
.head{
    display: grid;
    grid-template-columns: 200px 400px 500px;
    width: 1120px;
    height: 300px;
    border-bottom: 1px solid black;
}

.logotip img{
    width: 180px;
    height: 240px;
}

.topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 150px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(204, 94, 255);
    color: white;
}

.footer{
    width: 1120px;
    height: 30px;
    background-color: rgb(204, 94, 255);
}

.end{
    display: grid;
    grid-template-columns: 200px 400px 300px 300px;
    width: 1120px;
    height: 60px;
    background-color: rgb(175, 32, 232);
}

.end a{
    color:white;
    margin-top: 15px;
    padding-top: 15px;
}
